@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.padding-x {
    padding-left: 250px;
    padding-right: 250px;
}

.padding-y {
    padding-top: 20px;
    padding-bottom: 20px;
}

.form_input {
    width: 100%;
    padding: 12px 8px 12px 8px;
    color: rgb(17 24 39);
    border-radius: 6px;
    background-color: rgb(241 245 249);    
}